.loginandsignup {
    border: 3px solid #926666;
    margin: 20px 35%;
    overflow: hidden;
    width: 30%;
}

.loginaction {
    /* text-align: center; */
    margin: 45px 90px;
}

.logintext {
    margin: 20px 278px;
    font-size: 20px;
    color: #063b61;
}

input.loginbtn {
    background: #6b62f9;
    padding: 8px 152px;
    border-radius: 20px;
}

input.loginbtn:hover {
    background: rgb(134, 123, 231);
}

input.signupbtn {
    background: #6b62f9;
    padding: 8px 152px;
    border-radius: 20px;
    margin: 8px 83px;
}

input.signupbtn:hover {
    background: rgb(134, 123, 231);
}

td.errortext {
    color: #c35252;
    padding: 4px;
}

label.signuptext {
    margin: 20px 92px;
    font-size: 23px;
    color: #063b61;
}

input[type="text"] {
    border-radius: 4px;
}

input[type="password"] {
    border-radius: 4px;
}

h4.errortext {
    color: #c35252;
    padding: 4px;
    margin: 20px 195px;
}


a.forgotpassbtn {
    color: white;
    background: #6b62f9;
    margin: 0px 118px;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid black;
}

/* forgotpass */

.forgotpassfield {
    width: 30%;
    margin: 5% 33%;
    height: 500px;
}

input#searchemail {
    width: 98%;
    height: 30px;
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
}

.cngpass {
    margin: 104px 42px;
}

button.cngpassbtn {
    margin: 14px 0px;
    width: 100%;
    border-radius: 9px;
    background: #6b62f9;
    color: white;
    height: 25px;
    cursor: pointer;
}

button.cngpassbtn:hover {
    background: rgb(134, 123, 231);
    color: black;
}