
body {
    background-color: #534ec782;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    }
    .topnav {
    overflow: hidden;
    background-color: #333;
    }
    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    

    .footer{
      padding: 30px;
      width: 100%;
      background-color: #333;
      color: white;
      text-align: center;
      margin-top: 328px;
    }

    .footer h2{
        background-color: #333;
        color: white;
      }

      


    /*Seller Profile --------------------*/

    .sellerP {
      width: 50%;
      float: left;
      border: 2px solid #000;
      overflow: hidden;
  }

  .sfullprofile {
    overflow: hidden;
    /* border: 2px solid; */
    width: 50%;
    margin: 2px 358px;
}

 /*Logout --------------------*/
a.logoutbtn {
  float: right;
  border: 2px solid whitesmoke;
  margin-top: 22px;
}

.topnav a:hover {
  background-color: #5a5454;
  color: rgb(255, 255, 255);
}



/*Admin Update Btn*/
input[type="submit"] {
  background: #6b62f9;
  padding: 2px 20px;
  border-radius: 18px;
  margin: 0px 5px;
  color: #fff;
}
input[type="submit"]:hover {
  background: rgb(134, 123, 231);
    color: #000;
}


/*Seller Post new Ads Btn*/
a.pnabtn {
  color: white;
  background: #6b62f9;
  margin: 10px 18px;
  text-decoration: none;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid black;
}

a.pnabtn:hover {
  background: rgb(134, 123, 231);
    color: #000;
}

.pnadiv {
  border: 2px solid;
  width: 45%;
  margin: 70px 34%;
}
/*msg btn*/

button.msgbtn {
  padding: 6px 12px;
  background: antiquewhite;
  border-radius: 20px;
  margin: 11px 10px;
  color: red;
}

button.msgbtn:hover {
  background: white;
}

div#hiddenmsgbox {
  display: none;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  border: 2px solid black;
  width: 50%;
  height: 50%;
  background: #000000e3;
  border-radius: 20px;
  margin: -2px 446px;
}

h1.chatbox {
  color: antiquewhite;
  margin: 8px 18px;
}
h3.sellermsg {
  color: white;
}
h3.adminmsg {
  color: white;
}

.leftmsg
{
 float: left;
}

.rightmsg{
  float: right;
}


/* seller contact page send msg btn */

input.msgbox {
  border: 2px solid black;
  width: 100%;
  height: 50px;
}
input.msgsendbtn {
  height: 30px;
  margin: 11px 18px;
  background: #6b62f9;
  border-radius: 20px;
  /* text-decoration: none; */
  color: #fff;
  width: 90px;
}

input.msgsendbtn:hover {
  background: rgb(134, 123, 231);
  color: #000;
}


/* Manage Ads */
a.mngads {
  color: white;
  background: #6b62f9;
  margin: 10px 20px;
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  border: 2px solid black;
}

a.mngads:hover {
  background: rgb(134, 123, 231);
    color: #000;
}

/*Seller pass update */
button.updatepassbtn {
  color: white;
  background: #6b62f9;
  margin: 10px 192px;
  text-decoration: none;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}

button.updatepassbtn:hover {
  background: rgb(134, 123, 231);
    color: #000;
}

button.savepass {
  color: white;
  background: #6b62f9;
  margin: 10px 2px;
  text-decoration: none;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  width: 68%;
}

button.savepass:hover {
  background: rgb(134, 123, 231);
    color: #000;
}

div#uppas {
  border: 2 px solid;
  border: 2px solid;
  padding: 20px;
  width: 13%;
  margin: 2px 160px;
  display: none;
}